@model UNCDF.CMS.Models.TimeLineViewModel

@{
    ViewBag.Title = "Time Line register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ui-bar ui-bar-default">
    <span class="ui-title">
        Time Line Maintenance
    </span>
    <div class="ui-btn-content">
        @Ajax.AjaxActionLink("New", "New", "TimeLine", new { id = Model.ProjectId }, new AjaxOptions
        {
            HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "dialogBody",
            OnBegin = "unitlife.site.dialog.onInit",
            OnComplete = "unitlife.site.dialog.onComplete",
            OnFailure = "unitlife.site.dialog.onFailure",
        }, new { @class = "btn btn-default" }, "glyphicon glyphicon-file")
    </div>
    <div class="ui-btn-content">
        <a id="lnkReturnAct" class="btn btn-default" href="@Url.Link("ProjectActives", "Project", null)">
            <span class="glyphicon glyphicon-arrow-left"></span>Return
        </a>

    </div>
</div>

<div class="collapse ui-error-view" id="panMessage">
</div>

<div class="ui-container ui-jumb">

    @using (Html.BeginForm("Search", "TimeLine", FormMethod.Post, new { id = "frmSearch" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="row">
                <div class="col-md-1">
                    @Html.LabelFor(m => m.ProjectId)
                    @Html.TextBoxFor(m => m.ProjectId, new { @class = "form-control", @readonly = true })
                </div>
                <div class="col-md-10">
                    @Html.LabelFor(m => m.TitleProject)
                    @Html.TextBoxFor(m => m.TitleProject, new { @class = "form-control", @readonly = true })
                </div>
                @*<div class="col-md-1">
                    @Html.LabelFor(m => m.Advance)
                    @Html.TextBoxFor(m => m.Advance, new { @class = "form-control", Value = String.Format("{0:#,0}%", Model.Advance), @readonly = true })
                </div>*@
            </div>
        </div>
    }

</div>


<div class="ui-container">
    <span id="countRT" class="bars pull-left" style="font-weight: bold;margin-top: 15px;"></span>
    <table id="tbList" class="table table-hover" data-toggle="table" data-toolbar=".toolbar" data-pagination="true" @*data-sort-name="@Html.HtmlIdNameFor(x => x.eTimeLines.Title)" data-sort-order="desc"*@ data-search="true" data-row-style="rowStyle">
        <thead>
            <tr>
                <th data-class="ui-cell-icon" data-formatter="unitlife.ui.grid.commands.edit" data-events="objIndex.grid.rowCommand"></th>
                <th data-class="ui-cell-icon" data-formatter="unitlife.ui.grid.commands.remove" data-events="objIndex.grid.rowCommand"></th>
                <th data-class="ui-cell-icon" data-formatter="objIndex.grid.commandTranslation" data-events="objIndex.grid.rowCommand"></th>
                <th data-field="@Html.HtmlIdNameFor(x => x.eTimeLines.Title)">@Html.DisplayNameFor(x => x.eTimeLines.Title)</th>
                <th data-field="@Html.HtmlIdNameFor(x => x.eTimeLines.DateStr)">@Html.DisplayNameFor(x => x.eTimeLines.DateStr)</th>
                <th data-field="@Html.HtmlIdNameFor(x => x.eTimeLines.StatusName)">@Html.DisplayNameFor(x => x.eTimeLines.StatusName)</th>
                <th data-field="@Html.HtmlIdNameFor(x => x.eTimeLines.Status)" data-visible="false">@Html.DisplayNameFor(x => x.eTimeLines.Status)</th>

            </tr>
        </thead>

    </table>
</div>


<script type="text/javascript" language="javacript">

    function rowStyle(value, row, index) {
        var JsonVar = [value];
        var EstadoNombre = "";
        JsonVar.forEach(function (value) {
            EstadoNombre = value['Status'];
        });
        if (EstadoNombre == "0") {
            return { classes: 'danger' }
        }
        return { classes: '' }
    }


    function rebindGrid() {
        $("#btnSearch").click();
    }

    $('#dialogMain').on('hidden.bs.modal', function () {
        rebindGrid()
    });

    var objIndex={
        initial: function () {

            $("#btnSearch").on("click", function (e) {
                e.preventDefault();
                objIndex.grid.load();
            });

            unitlife.ui.grid('#tbList').create({ search: true, toolbar: ".ui-container .title, .ui-container .ui-grid-rows" });

            @*if ('@HttpContext.Current.Request.Params.Get("ret")' == "true")
            {*@
                objIndex.grid.load();
            //}

        },
        grid:{
            get:function(){
                return unitlife.ui.grid("#tbList");
            },
            load: function () {

                unitlife.ui.grid('#tbList').load('@Url.Action("Search", "TimeLine", null)', '#frmSearch',
                 function (e) {
                     var da = 'Interface List @Html.Raw(MessageResource.GridRowCountInfo)'  ;
                        da = da.replace("{0}", e.data.length);
                        $("#countRT").text(da);
                    });
            },
            rowCommand:{
                'click #remove': function (e, value, row) {

                    var Estado = row["Status"];

                    if ("1" == "1") {
                        var _grid = unitlife.ui.grid("#tbList");

                        Confirmar(
                            '¿@Html.Raw(string.Format(MessageResource.RowDeleteConfirm, "Time Line"))?',
                        function () {
                            _grid.invoqCommand('@Url.Action("Delete", "TimeLine", null)', { id: row.TimeLineId }, function (e) {
                                if (e && e.isError == true)
                                    return;
                                objIndex.grid.load();
                            });
                        },
                        null
                            );
                    }else{
                        unitlife.ui.MessagePanel.show({ isError: true, message: "@Html.Raw(string.Format(MessageResource.RowInactivo,"Time Line"))" });
                    }
                }
                , 'click #edit': function (e, value, row) {
                    window.location.href = '@Url.Action("Edit", "TimeLine")/' + row.TimeLineId +'|'+ 0 + '@Url.TargetParam()';
                    return false;
                }
            },
            commandTranslation: function (e, r, i)
            {
                var sd = '@Ajax.AjaxActionLink("", "NewTranslation", "TimeLineTranslate", null, new AjaxOptions
                     {
                         HttpMethod = "GET",
                         InsertionMode = InsertionMode.Replace,
                         UpdateTargetId = "dialogBody",
                         OnBegin = "unitlife.site.dialog.onInit",
                         OnComplete = "unitlife.site.dialog.onComplete",
                         OnFailure = "unitlife.site.dialog.onFailure",
                     }, new { @class = "",title= "Time Line Translations" }, "glyphicon glyphicon-globe")'

                sd = $(sd).attr("href", $(sd).attr("href") + "/" + r.@Html.HtmlIdNameFor(x => x.TimeLineId))[0].outerHTML;
                return sd;
                objIndex.grid.load();
            }
            @*,
            commandEdit:function(e,r,i)
            {
                var sd = '@Ajax.AjaxActionLink("", "Edit", "TimeLine", null, new AjaxOptions
                {
                    HttpMethod = "GET",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "dialogBody",
                    OnBegin = "unitlife.site.dialog.onInit",
                    OnComplete = "unitlife.site.dialog.onComplete",
                    OnFailure = "unitlife.site.dialog.onFailure",
                    }, new { @class = "",title="Edit Interface Control" }, "glyphicon glyphicon-pencil")'

                sd = $(sd).attr("href", $(sd).attr("href") + "/" + r.@Html.HtmlIdNameFor(x => x.TimeLineId))[0].outerHTML;
                return sd;
                objIndex.grid.load();
            }*@
        },
        general:{
        }
    };

    function ___getModalResult(key, data) {
        if (key == 'REG_TIMELINE'){
            objIndex.grid.load();
        }
    }

    $(document).ready(function () {

        objIndex.initial();

        var $th = $('.tableFixHead').find('thead th')
        $('.tableFixHead').on('scroll', function () {
            $th.css('transform', 'translateY(' + this.scrollTop + 'px)');
        });

        $('.fixed-table-body').addClass('tableFixHead');
    });

</script>
