@model UNCDF.CMS.Models.TimeLineViewModel


@{
    Layout = null;
}
@Html.Hidden("viewTitle", ViewBag.Title as string)

<div class="ui-bar ui-bar-default">
    <div class="ui-btn-content">
        <button type="submit" id="btnRegSubm" class="btn btn-default">
            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>Save
        </button>
    </div>
</div>

<div class="ui-container">
    @using (Html.BeginForm("Register", "TimeLine", FormMethod.Post, new { id = "frmTimeLineReg" }))
    {
        @Html.HiddenFor(m => m.TimeLineId)
        @Html.HiddenFor(m => m.ProjectId)
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    @Html.LabelFor(m => m.Title)
                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control", maxlength = 200 })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    @Html.LabelFor(m => m.Description)
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control", maxlength = 4000 })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(m => m.Date)
                    <div id="d_@Html.IdFor(m=>m.Date)" class="input-group date">
                        @Html.TextBoxFor(m => m.Date, new { @class = "form-control input", maxlength = 10 })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(m => m.Advance)
                    @Html.TextBoxFor(m => m.Advance, new { @class = "form-control", maxlength = 3 })
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(m => m.CurrentAdvance)
                    @Html.TextBoxFor(m => m.CurrentAdvance, new { @class = "form-control", @readonly = true })
                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(m => m.Status)
                    @Html.DropDownListFor(m => m.Status, (IEnumerable<SelectListItem>)ViewBag.Estado, new { @class = "form-control", data_value = Model.Status })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">

            </div>
        </div>
        <div>
            Required fields.<span class="input-validation-error-ley"></span>
        </div>
    }

</div>

<script type="text/javascript" language="javacript">

    function onCallbackError(e) {
        unitlife.ui.DropDownListFillJsonError(e, s);
    }

    $(document).ready(function () {



        $("#btnRegSubm").on("click", function (e) {
            e.preventDefault();

            if ( $("#@Html.IdFor(m => m.Advance)").val()< 1 || $("#@Html.IdFor(m => m.Advance)").val()> 100  ) {
                unitlife.ui.validation.showMessage("Advance, Value must be from 1 to 100");
                return false;
            }

            if ($("#@Html.IdFor(m => m.Advance)").val() <= $("#@Html.IdFor(m => m.CurrentAdvance)").val()) {
                unitlife.ui.validation.showMessage("You must enter a major advance");
                return false;
            }

            var _frm = unitlife.ui.validation("#frmTimeLineReg"), condVal = $("#@Html.IdFor(m => m.TimeLineId)").val();
            var _isValid = true;
            _frm.unobtrusiveParse();


            if (condVal == '01') {
                _isValid = _frm.validGroup(condVal, '01',
                    [
                        "#@Html.IdFor(m => m.Title)"
                    ]);
            }
            else {
                _isValid = _frm.valid();
            }
            if (_isValid) {

                Confirmar(
                '¿@Html.Raw(ViewBag.Confirm)?',
                    function () {
                        unitlife.ajax.submit('@Url.Action("Register", "TimeLine", null)', "#frmTimeLineReg");
                        unitlife.site.dialog.invoqResultCallback('REG_TIMELINE');

                },
                null
                );
            }
            return false;
        });


        unitlife.ui.input.onlyNumeric("#@Html.IdFor(m => m.Advance)");
        @*unitlife.ui.input.onlyNumeric("#@Html.IdFor(m => m.Date)");*@

        unitlife.ui.SelectedValue('#@Html.IdFor(x => x.Status)');

        $('#d_@Html.IdFor(m => m.Date)').datepicker();

    });

</script>

