@model UNCDF.CMS.Models.TimeLineTranslateViewModel

@{
    Layout = null;
}
@Html.Hidden("viewTitle", ViewBag.Title as string)

<meta http-equiv=”Content-Type” content=”text/html; charset=UTF-8″ />

<div class="ui-container">
    <div class="bars pull-left" style="font-weight: bold;margin-top: 15px;">
        <span class="title">
            Translates
        </span>

        <span class="ui-grid-rows" data-info-grid="#tbListTranslateApr" data-info="@MessageResource.GridRowCountInfo"></span>
    </div>
    <table id="tbListTranslateApr" class="table table-hover"
           data-toggle="table"
           data-toolbar=".toolbar"
           data-pagination="true" data-sort-name="@Html.HtmlIdNameFor(x => x.Translates.Language)" data-sort-order="desc" data-search="true" data-row-style="rowStyle">
        <thead>
            <tr>
                @*<th data-class="ui-cell-icon" data-formatter="unitlife.ui.grid.commands.edit" data-events="objIndexTran.grid.rowCommand"></th>
                    <th data-class="ui-cell-icon" data-formatter="unitlife.ui.grid.commands.remove" data-events="objIndexTran.grid.rowCommand"></th>*@
                <th data-field="@Html.HtmlIdNameFor(x => x.Translates.TimeLineId)" data-visible="false">@Html.DisplayNameFor(x => x.Translates.TimeLineId)</th>
                <th data-field="@Html.HtmlIdNameFor(x => x.Translates.LanguageId)" data-visible="false">@Html.DisplayNameFor(x => x.Translates.LanguageId)</th>
                <th data-field="@Html.HtmlIdNameFor(x => x.Translates.Language)">@Html.DisplayNameFor(x => x.Translates.Language)</th>
                <th data-field="@Html.HtmlIdNameFor(x => x.Translates.Title)">@Html.DisplayNameFor(x => x.Translates.Title)</th>
                <th data-field="@Html.HtmlIdNameFor(x => x.Translates.Description)">@Html.DisplayNameFor(x => x.Translates.Description)</th>

            </tr>
        </thead>

    </table>
</div>


<script type="text/javascript" language="javacript">

    $('#dialogMain').on('hidden.bs.modal', function () {
        rebindGrid()
    });

    var objIndexTran={
        initial: function () {

            unitlife.ui.grid('#tbListTranslateApr').create({ search: true, toolbar: ".ui-container .title, .ui-container .ui-grid-rows" });

           objIndexTran.grid.load();

        },
        grid:{
            get:function(){
                return unitlife.ui.grid("#tbListTranslateApr");
            },
            load: function () {

                unitlife.ui.grid('#tbListTranslateApr').load('@Url.Action("Search", "TimeLineTranslate", null)', { id: @Model.TimeLineId});
            },
            rowCommand:{
                @*'click #remove': function (e, value, row) {

                    var Estado = row["Status"];

                    if ("1" == "1") {
                        var _grid = unitlife.ui.grid("#tbListTranslateApr");

                        Confirmar(
                            '¿@Html.Raw(string.Format(MessageResource.RowDeleteConfirm, "TimeLine Translate"))?',
                            function () {
                                _grid.invoqCommand('@Url.Action("Delete", "TimeLineTranslate", null)', { id: row.TimeLineId, LanguageId: row.LanguageId }, function (e) {
                                if (e && e.isError == true)
                                        return;
                                $('#btnAprSubm').show();
                                $('#btnAprSubmSave, #btnAprCancel').hide();
                                $('#@Html.IdFor(m => m.Description)').val("");
                                $('#@Html.IdFor(m => m.Title)').val("");
                                objIndexTran.grid.load();
                            });
                        },
                        null
                            );
                    }else{
                        unitlife.ui.MessagePanel.show({ isError: true, message: "@Html.Raw(string.Format(MessageResource.RowInactivo,"TimeLine Translate"))" });
                    }
                }
                ,
                'click #edit': function (e, value, row) {

                     @*//$('#btnAprSubm').hide();
                     //$('#btnAprSubmSave, #btnAprCancel').show();

                    $('#@Html.IdFor(m => m.LanguageId)').val(row.LanguageId);
                    $('#@Html.IdFor(m => m.Description)').val(row.Description);
                    $('#@Html.IdFor(m => m.Title)').val(row.Title);

                    return false;
                }*@

            }
        },
        general:{
        }
    };

    $(document).ready(function () {

        $('#btnAprSubmSave, #btnAprCancel').hide();

        objIndexTran.initial();

        var $th = $('.tableFixHead').find('thead th')
        $('.tableFixHead').on('scroll', function () {
            $th.css('transform', 'translateY(' + this.scrollTop + 'px)');
        });

        $('.fixed-table-body').addClass('tableFixHead');


        $("#btnAprSubm").on("click", function (e) {
            e.preventDefault();

            var _grid = unitlife.ui.grid("#tbListTranslateApr");

            var _frm = unitlife.ui.validation("#frmTimeLineTranslateReg"), condVal = $("#@Html.IdFor(m => m.TimeLineId)").val();
            var _isValid = true;
            _frm.unobtrusiveParse();

            _isValid = _frm.valid();
            if (_isValid) {

                    Confirmar('¿@Html.Raw(ViewBag.Confirm)?',
                        function () {
                            _grid.invoqCommandOpt('@Url.Action("Register", "TimeLineTranslate", null)', "#frmTimeLineTranslateReg", function (e) {
                                if (e && e.isError == true)
                                    return;

                                $('#btnAprSubm').show();
                                $('#btnAprSubmSave, #btnAprCancel').hide();
                                $('#@Html.IdFor(m => m.Description)').val("");
                                $('#@Html.IdFor(m => m.Title)').val("");

                                objIndexTran.grid.load();

                                 });
                              },
                                null
                    );

            }
            return false;
        });

        $("#btnAprSubmSave").on("click", function (e) {
            e.preventDefault();

            var _grid = unitlife.ui.grid("#tbListTranslateApr");

            Confirmar('¿@Html.Raw(ViewBag.Confirm)?',
                function () {
                    _grid.invoqCommandOpt('@Url.Action("Update", "TimeLineTranslate", null)', ("#frmTimeLineTranslateReg"), function (e) {
                        if (e && e.isError == true)
                            return;

                        $('#btnAprSubm').show();
                        $('#btnAprSubmSave, #btnAprCancel').hide();
                        $('#@Html.IdFor(m => m.Description)').val("");
                        $('#@Html.IdFor(m => m.Title)').val("");

                        objIndexTran.grid.load();

                         });
                    },
                        null
                );
        });


        $("#btnAprCancel").on("click", function (e) {
            e.preventDefault();
            $('#btnAprSubm').show();
            $('#btnAprSubmSave, #btnAprCancel').hide();
            $('#@Html.IdFor(m => m.Description)').val("");
            $('#@Html.IdFor(m => m.Title)').val("");

        });

        unitlife.ui.SelectedValue('#@Html.IdFor(x => x.LanguageId)');
    });

</script>
