@model UNCDF.CMS.Models.DonorPartnerViewModel

@{
    ViewBag.Title = "Donors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ui-bar ui-bar-default">
    <span class="ui-title">
        Donors
    </span>

    <div class="ui-btn-content">
        @Ajax.AjaxActionLink("Load", "Load", "DonorPartner", null, new AjaxOptions
           {
               HttpMethod = "GET",
               InsertionMode = InsertionMode.Replace,
               UpdateTargetId = "dialogBody",
               OnBegin = "unitlife.site.dialog.onInit",
               OnComplete = "unitlife.site.dialog.onComplete",
               OnFailure = "unitlife.site.dialog.onFailure",
           }, new { @class = "btn btn-default" }, "glyphicon glyphicon-file")
    </div>
</div>

<div class="ui-container ui-jumb">
    <div>
        @using (Html.BeginForm("Search", "DonorPartner", FormMethod.Post, new { id = "frmSearch" }))
        {
            @Html.AntiForgeryToken()
            @*@Html.HiddenFor(m => m.ProjectId)*@

            <div class="form-group">
                <div class="row">
                    @*@Html.HiddenFor(m => m.ProjectId)*@
                    <div class="col-md-1">
                        @Html.LabelFor(m => m.DonorCode)
                        @Html.TextBoxFor(m => m.DonorCode, new { @class = "form-control", id = "txtDonorCode" })
                    </div>
                    <div class="col-md-10">

                        @Html.LabelFor(m => m.DonorName)
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.DonorName, new { @class = "form-control", id = "txtDonorName" })

                            <a id="btnSearch" class="btn btn-default input-group-addon">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
                            </a>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <a id="btnClean" class="btn btn-default" style="margin-top:22px;">
                            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Clean
                        </a>

                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="collapse ui-error-view" id="panMessage">
</div>

<div id="tbListCont1" class="ui-container">

    <span id="countR" class="bars pull-left" style="font-weight: bold;margin-top: 15px;"></span>

    <table id="tbList" class="table table-hover" data-toggle="table" data-toolbar=".toolbar" data-pagination="true" data-sort-name="@Html.HtmlIdNameFor(x => x.result.DonorCode)" data-sort-order="asc" data-search="true" data-row-style="rowStyle">
        <thead>
            <tr>
                <th data-field="@Html.HtmlIdNameFor(x => x.result.DonorPartnerId)" data-visible="false">@Html.DisplayNameFor(x => x.result.DonorPartnerId)</th>
                <th data-field="@Html.HtmlIdNameFor(x => x.result.DonorCode)">@Html.DisplayNameFor(x => x.result.DonorCode)</th>
                <th class="col-md-8" data-field="@Html.HtmlIdNameFor(x => x.result.DonorName)">@Html.DisplayNameFor(x => x.result.DonorName)</th>
                <th data-field="@Html.HtmlIdNameFor(x => x.result.FundingPartner)">@Html.DisplayNameFor(x => x.result.FundingPartner)</th>
                <th data-field="@Html.HtmlIdNameFor(x => x.result.DonorLongDescription)">@Html.DisplayNameFor(x => x.result.DonorLongDescription)</th>
            </tr>
        </thead>

    </table>
</div>

<script type="text/javascript" language="javacript">
    $("#btnClean").on("click", function (e) {
        e.preventDefault();
        $("#txtDonorCode").val("");
        $("#txtDonorName").val("");
        $("#btnSearch").click();
    });

    var objIndex={
        initial: function () {

            $("#btnSearch").on("click", function (e) {
                e.preventDefault();
                objIndex.grid.load();
            });

            unitlife.ui.grid('#tbList').create({ search: true, toolbar: ".ui-container .title, .ui-container .ui-grid-rows" });
            objIndex.grid.load();
        },
        grid:{
            get:function(){
                return unitlife.ui.grid("#tbList");
            },
            load: function () {
                @*unitlife.ui.grid('#tbList').load('@Url.Action("Search", "ProjectFinancials", null)', '#frmSearch');*@
                unitlife.ui.grid('#tbList').load('@Url.Action("Search", "DonorPartner", null)', '#frmSearch',
                function (e) {
                    var da = 'Donor List @Html.Raw(MessageResource.GridRowCountInfo)'  ;
                    da = da.replace("{0}", e.data.length);
                    $("#countR").text(da);
                });
            },
            commandFormartDecimal: function (e, r, i) {
                //var sd = r.Amount+"sdad";
                var sd = unitlife.numeric.formatDecimal(e,0)
                return sd;
            },
            rowCommand:{
            }
        },
        general:{
        }
    };

    function ___getModalResult(key, data) {
        if (key == 'REG_DONORS') {
            objIndex.grid.load();
        }
    }

    $(document).ready(function () {
        objIndex.initial();
        var $th = $('.tableFixHead').find('thead th')
        $('.tableFixHead').on('scroll', function () {
            $th.css('transform', 'translateY(' + this.scrollTop + 'px)');
        });

        $('.fixed-table-body').addClass('tableFixHead');

    });
</script>