@model UNCDF.CMS.Models.GenderViewModel

@{
    Layout = null;
}
@Html.Hidden("viewTitle", ViewBag.Title as string)

<div class="ui-bar ui-bar-default">
    <div class="ui-btn-content">
        <button type="submit" id="btnRegSubm" class="btn btn-default">
            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>Save
        </button>
    </div>
</div>

<div class="ui-container">
    @using (Html.BeginForm("Register", "Gender", FormMethod.Post, new { id = "frmGenderReg" }))
    {
        @Html.HiddenFor(m => m.GenderId)
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    @Html.LabelFor(m => m.Description)
                    @Html.TextBoxFor(m => m.Description, new { @class = "form-control", maxlength = 200 })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(m => m.Value)
                    @Html.TextBoxFor(m => m.Value, new { @class = "form-control", maxlength = 200 })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(m => m.Status)
                    @Html.DropDownListFor(m => m.Status, (IEnumerable<SelectListItem>)ViewBag.Estado, new { @class = "form-control", data_value = Model.Status })
                </div>
            </div>
        </div>
        <div>
            Required fields.<span class="input-validation-error-ley"></span>
        </div>
    }

</div>

<script type="text/javascript" language="javacript">

    function onCallbackError(e) {
        unitlife.ui.DropDownListFillJsonError(e, s);
    }

    $(document).ready(function () {

        $("#btnRegSubm").on("click", function (e) {
            e.preventDefault();

            var _frm = unitlife.ui.validation("#frmGenderReg"), condVal = $("#@Html.IdFor(m => m.GenderId)").val();
            var _isValid = true;
            _frm.unobtrusiveParse();
            if (condVal == '01') {
                _isValid = _frm.validGroup(condVal, '01',
                    [
                    "#@Html.IdFor(m => m.Description)"
                    ]);
            }
            else {
                _isValid = _frm.valid();
            }
            if (_isValid) {

                Confirmar(
                '¿@Html.Raw(ViewBag.Confirm)?',
                function () {
                    unitlife.ajax.submit('@Url.Action("Register", "Gender", null)', "#frmGenderReg");
                    unitlife.site.dialog.invoqResultCallback('REG_GENDER');
                },
                null
                );
            }
            return false;
        });

        unitlife.ui.SelectedValue('#@Html.IdFor(x => x.Status)');


    });

</script>

