@model UNCDF.CMS.Models.ProjectViewModel

@{
    Layout = null;
}
@Html.Hidden("viewTitle", ViewBag.Title as string)

<div class="ui-bar ui-bar-default">
    <span class="ui-title">
        Select Project
    </span>
    <div class="ui-btn-content">
        <button type="submit" id="btnRegSubmSave" class="btn btn-default">
            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>Save
        </button>
    </div>
</div>

<div class="collapse ui-error-view" id="panMessage">
</div>

<div class="ui-container ui-jumb">

    @using (Html.BeginForm("SearchProjects", "ProjectExclusions", FormMethod.Post, new { id = "frmSearchAdd" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.ProjectId)

       
        @Html.HiddenFor(m => m.CheckProjectCode)
        <div class="form-group">
            <div class="row">
                <div class="col-sm-4">
                    @Html.LabelFor(m => m.Title)
                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control", maxlength = 200 })
                </div>
                <div class="col-sm-4">
                    @Html.LabelFor(m => m.EffectiveStatus)
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.EffectiveStatus, new { @class = "form-control", @readonly = "readonly" })
                        <a id="btnSearch" class="btn btn-default input-group-addon">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
                        </a>
                    </div>
                    
                    
                </div>
            </div>
        </div>
        <div>
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        </div>
    }
</div>

<div class="ui-container">
    <span class="title">
        Project List
    </span>
    <span class="ui-grid-rows a" data-info-grid="#tbListAdd" data-info="@MessageResource.GridRowCountInfo"></span>
    <table id="tbListAdd" class="table table-hover" data-pagination="true" data-height="300" data-sort-name="@Html.HtmlIdNameFor(x => x.result.ProjectId)" data-sort-order="desc" data-search="true" data-row-style="rowStyle"
           data-unique-id="@Html.HtmlIdNameFor(m => m.result.ProjectCode)"
           >
        <thead>
            <tr>
                <th data-formatter="objIndex.grid.commandRadioButton" data-field="@Html.HtmlIdNameFor(m => m.result.FlagActive)" class="text-center"> </th>
                <th data-field="@Html.HtmlIdNameFor(x => x.result.ProjectId)" data-visible="false"></th>
                <th data-field="@Html.HtmlIdNameFor(x => x.result.ProjectCode)">@Html.DisplayNameFor(x => x.result.ProjectCode)</th>
                <th data-field="@Html.HtmlIdNameFor(x => x.result.Title)">@Html.DisplayNameFor(x => x.result.Title)</th>
                <th data-visible="false" data-field="@Html.HtmlIdNameFor(x => x.result.EffectiveStatus)">@Html.DisplayNameFor(x => x.result.EffectiveStatus)</th>

            </tr>
        </thead>

    </table>
</div>


<script type="text/javascript" language="javacript">


    @*function changeCheckProject(e,x) {
        $('#@Html.IdFor(m => m.ProjectId)').val(e.value);

    }*@

    function changeCheckProject(e) {
        var checkboxValues = new Array();
        $('input[name="CheckOptionProject"]').each(function () {
            if (this.checked) {

                checkboxValues.push($(this).val());

            }
        });
        var x = checkboxValues.toString();

        $('#@Html.IdFor(m => m.CheckProjectCode)').val(x);

    }


    function rebindGrid() {
        $("#btnSearch").click();
    }

    var objIndex={
        initial: function (){
            $("#btnSearch").on("click", function (e) {
                e.preventDefault();
                objIndex.grid.load();
            });

            unitlife.ui.grid('#tbListAdd').create({ search: true, toolbar: ".ui-container .title, .ui-container .ui-grid-rows" });

            if ('@HttpContext.Current.Request.Params.Get("ret")' == "true")
            {

                objIndex.grid.load();
            }

        },
        grid:{
            get:function(){
                return unitlife.ui.grid("#tbListAdd");
            },
            load:function(){

                unitlife.ui.grid('#tbListAdd').load('@Url.Action("SearchProjects", "ProjectExclusions", null)', '#frmSearchAdd');
            },
            rowCommand: {


            }
            , commandRadioButton: function (e, r, i) {

                var sd = '<input type="checkbox" id="CheckOptionProject" name="CheckOptionProject" onchange="changeCheckProject(this)" value="' + r.ProjectCode +'"  />';
                return sd;
            }
        },
        general:{
        }
    };



    $(document).ready(function () {
        objIndex.initial();
        rebindGrid();

        $("#btnRegSubmSave").on("click", function (e) {

            e.preventDefault();
            var checkboxValues = new Array();

            $('input[name="CheckOptionProject"]').each(function () {
                if (this.checked) {
                    checkboxValues.push($(this).val());
                }
            });
            var x = checkboxValues.toString();

            $('#@Html.IdFor(m => m.CheckProjectCode)').val(x);

                Confirmar(
                    '¿@Html.Raw(ViewBag.Confirm)?',
                    function () {

                        unitlife.ajax.submit('@Url.Action("RegisterProjectCode", "ProjectExclusions", null)', "#frmSearchAdd", function (e){

                            unitlife.site.dialog.invoqResultCallback('REG_PROJECTCODEEXCLUSION');

                        });

                        
                },
                null
                );
            //}
            return false;
        });


    });

</script>


