@model UNCDF.CMS.Models.ProjectExplusionsViewModel

@{
    ViewBag.Title = "Project Exckusions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .myClass {
        display: inline-block;
    }
</style>
<div class="ui-bar ui-bar-default">
    <span class="ui-title">
        Project Exclusions
    </span>

</div>

<div class="collapse ui-error-view" id="panMessage">
</div>

<div class="ui-container ui-jumb">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="ui-bar ui-bar-default">
                    <span class="ui-title">
                        Project Code
                    </span>
                    <div class="ui-btn-content">
                        @Ajax.AjaxActionLink("", "AddProjectCode","ProjectExclusions",null, new AjaxOptions
                        {
                            HttpMethod = "GET",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "dialogBody",
                            OnBegin = "unitlife.site.dialog.onInit",
                            OnComplete = "unitlife.site.dialog.onComplete",
                            OnFailure = "unitlife.site.dialog.onFailure",
                        }, new { @class = "btn btn-default" }, "glyphicon glyphicon-plus")
                    </div>
                </div>
                <div class="panel-body">


                    <div id="tbListEditCont1" class="ui-container">
                        <table id="tbListEdit" class="table table-hover" data-pagination="true" data-toggle="table" data-toolbar=".toolbar" data-sort-order="desc" data-search="true" data-row-style="rowStyle">
                            <thead>
                                <tr>
                                    <th data-class="ui-cell-icon" data-formatter="unitlife.ui.grid.commands.remove" data-events="objIndexEdit.grid.rowCommand"></th>
                                    <th data-field="@Html.HtmlIdNameFor(x => x.resultProjExcl.ProjectCode)" >@Html.DisplayNameFor(x => x.resultProjExcl.ProjectCode)</th>

                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="ui-bar ui-bar-default">
                    <span class="ui-title">
                        Department
                    </span>
                    <div class="ui-btn-content">
                        @Ajax.AjaxActionLink("", "AddDeparmentCode", "ProjectExclusions", new { id = 0 }, new AjaxOptions
                        {
                            HttpMethod = "GET",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "dialogBody",
                            OnBegin = "unitlife.site.dialog.onInit",
                            OnComplete = "unitlife.site.dialog.onComplete",
                            OnFailure = "unitlife.site.dialog.onFailure",
                        }, new { @class = "btn btn-default" }, "glyphicon glyphicon-plus")
                    </div>
                </div>
                <div class="panel-body">


                    <div id="tbListEditDep" class="ui-container">
                        <table id="tbListEditDep" class="table table-hover" data-pagination="true" data-toggle="table" data-toolbar=".toolbar" data-sort-order="desc" data-search="true" data-row-style="rowStyle">
                            <thead>
                                <tr>
                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="ui-bar ui-bar-default">
                    <span class="ui-title">
                        Practice Area
                    </span>
                    <div class="ui-btn-content">
                        @Ajax.AjaxActionLink("", "New", "TimeLineMultimedia", new { id = 0 }, new AjaxOptions
                        {
                            HttpMethod = "GET",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "dialogBody",
                            OnBegin = "unitlife.site.dialog.onInit",
                            OnComplete = "unitlife.site.dialog.onComplete",
                            OnFailure = "unitlife.site.dialog.onFailure",
                        }, new { @class = "btn btn-default" }, "glyphicon glyphicon-plus")
                    </div>
                </div>
                <div class="panel-body">


                    <div id="tbListEditCont1" class="ui-container">
                        <table id="tbListEdit" class="table table-hover" data-pagination="true" data-toggle="table" data-toolbar=".toolbar" data-sort-order="desc" data-search="true" data-row-style="rowStyle">
                            <thead>
                                <tr>
                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">

        </div>



    </div>



</div>
<script type="text/javascript" language="javacript">

    var objIndexEdit={
        initial: function () {

            unitlife.ui.grid('#tbListEdit').create({ search: true, toolbar: ".ui-container .title, .ui-container .ui-grid-rows" });
            objIndexEdit.grid.load();

        },
        grid:{
            get:function(){
                return unitlife.ui.grid("#tbListEdit");
            },
            load: function () {
                unitlife.ui.grid('#tbListEdit').load('@Url.Action("SearchProjectsCodeExclusions", "ProjectExclusions", null)', null);
            },
            rowCommand:{
                'click #remove': function (e, value, row) {

                    if ("1" == "1") {
                        var _grid = unitlife.ui.grid("#tbListEdit");

                        Confirmar(
                            '¿@Html.Raw(string.Format(MessageResource.RowDeleteConfirm, "Project Code"))?',
                        function () {
                            _grid.invoqCommand('@Url.Action("Delete", "ProjectExclusions", null)', { id: row.ProjectCode }, function (e) {
                                if (e && e.isError == true)
                                    return;
                                objIndexEdit.grid.load();
                            });
                        },
                        null
                            );
                    }else{
                        unitlife.ui.MessagePanel.show({ isError: true, message: "@Html.Raw(string.Format(MessageResource.RowInactivo,"Project Exclusions"))" });
                    }
                }
            },

        },
        general:{
        }
    };


    var objIndexDep={
        initial: function () {

            unitlife.ui.grid('#tbListEditDep').create({ search: true, toolbar: ".ui-container .title, .ui-container .ui-grid-rows" });
            objIndexDep.grid.load();

        },
        grid:{
            get:function(){
                return unitlife.ui.grid("#tbListEditDep");
            },
            load: function () {
                unitlife.ui.grid('#tbListEditDep').load('@Url.Action("SearchProjectsCodeExclusions", "ProjectExclusions", null)', null);
            },
            rowCommand:{
                'click #remove': function (e, value, row) {

                    if ("1" == "1") {
                        var _grid = unitlife.ui.grid("#tbListEditDep");

                        Confirmar(
                            '¿@Html.Raw(string.Format(MessageResource.RowDeleteConfirm, "Deparment Code"))?',
                        function () {
                            _grid.invoqCommand('@Url.Action("Delete", "ProjectExclusions", null)', { id: row.ProjectCode }, function (e) {
                                if (e && e.isError == true)
                                    return;
                                objIndexDep.grid.load();
                            });
                        },
                        null
                            );
                    }else{
                        unitlife.ui.MessagePanel.show({ isError: true, message: "@Html.Raw(string.Format(MessageResource.RowInactivo,"Deparment Exclusions"))" });
                    }
                }
            },

        },
        general:{
        }
    };



    $(document).ready(function () {
        objIndexEdit.initial();
    });


    function ___getModalResult(key, data) {
        if (key == 'REG_PROJECTCODEEXCLUSION') {
            objIndexEdit.grid.load();
        }
    }

</script>
